/*************/
/* setup var */
/*************/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/********/
/* TAGS */
/********/

html {
	scroll-behavior: smooth;
    cursor: url(/images/customCursor.png) 7 7, pointer;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2rem;

    --main-color-1: rgb(255, 255, 215);
    --main-color-1-var: rgb(202, 202, 160);
    --main-color-2: rgb(5, 35, 35);
    --main-color-2-var: rgb(86, 174, 149);

    background-color: var(--main-color-2);
    color: var(--main-color-1);

    margin: 0;
}

header {
    position: fixed;
    top: 0;

    width: 100%;

    border-bottom: 1px solid var(--main-color-1);
}

a {
    text-decoration: none !important;
}

img {
    display: flex;

    width: 45%;
    height: min-content;
    margin: auto 20px;
}

main {
    height: 50vh;
    width: 65%;
    margin: auto;
    
    border-right: 1px solid var(--main-color-1);
    border-left: 1px solid var(--main-color-1);
}

/* img:hover {
    filter: brightness(65%);
    -webkit-filter: brightness(65%);
    z-index: -1;
} */

footer {
    border-top: 1px solid var(--main-color-1);
    padding: 10px;
    padding-top: 30px;

    font-size: 1rem;
}

/***********/
/* CLASSES */
/***********/

/* around content */

.headerTitleBar {
    display: flex;
    justify-content: space-between;

    margin: auto;
    width: -webkit-calc(100% - 30px);
    width:    -moz-calc(100% - 30px);
    width:         calc(100% - 30px);
    font-size: 1.5rem;
}

.titleElement {
    margin: 0;
}

.headerInHeader {
    padding-bottom: 15px;
    width: -webkit-calc(100% - 120px);
    width:    -moz-calc(100% - 120px);
    width:         calc(100% - 120px);
    margin: auto;

    background-color: var(--main-color-2);
}

.headerInHeader .headerInHeader {
    width: 100%;
    padding-top: 10px;

    border-bottom: 1px solid var(--main-color-1);
}

.styleColouring {
    position: fixed;
    
    background-color: var(--main-color-1);
}

.bodyInBody {
    width: -webkit-calc(100% - 80px);
    width:         calc(100% - 80px);

    margin: auto;

    border-left: 1px solid var(--main-color-1);
    border-right: 1px solid var(--main-color-1);
}

.bodyInBody .bodyInBody {
    width: -webkit-calc(100% - 40px);
    width:         calc(100% - 40px);
}

.noScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noScrollbar::-webkit-scrollbar {
    display: none;
}

/* links */

.sideCategoryLinks {
    position: fixed;
    top: 70px;
    left: 5px;

    text-decoration: underline;
    writing-mode: vertical-lr;
    rotate: 180deg;
}

.sideTopLink {
    top: 70px;
    padding-top: 10px;
    padding-right: 3px;

    text-decoration: none !important;
}

.sideContactLinks {
    position: fixed;
    bottom: 0;
    right: 5px;

    text-decoration: underline;
    writing-mode: vertical-lr;
}

.sideLink {
    padding-bottom: 20px;
}

.otherLink {
    text-decoration: underline !important;
}

.textLink {
    color: var(--main-color-1);
    transition: color 0.2s ease-in-out;
    cursor: url(/images/customCursorLink.png), pointer;

}

.textLink:hover {
    color: var(--main-color-1-var);
}

.anchor {
    position: relative;
    top: -69px;
}

/* actual content */

.category {
    margin: auto;
    margin-bottom: 20px;
    padding-top: 60px;

    border-bottom: 1px solid var(--main-color-1);
    border-top: 1px solid var(--main-color-1);
}

.category:first-child {
    padding-top: 120px;
    border-bottom: 0;
}

.category:last-child {
    margin: 0 !important;
}

.categoryMargin {
    margin: 0 30px;
}

.categoryTitle {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.categoryText {
    margin-left: 2rem;
    display: flex;
    padding-bottom: 5rem;
}

.alignRightWhenBig {
    text-align: right;
    flex-direction: row-reverse;
}

.squareImg {
    width: 30%;
}

.cookie {
    display: inline;
    margin: 0;
    padding: 0;
    width: 40px;
    vertical-align: middle;
}

/* js */

.preMainChoice {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: 1px solid var(--main-color-1);
}

.preMainChoiceElement {
    margin: 0 10px;
    width: auto;
}

.mainOutsideMain {
    margin: auto;

    border-top: 1px solid var(--main-color-1);
    border-bottom: 1px solid var(--main-color-1);
}



/********/
/* TAGS */
/********/

#postMainTitle {
    margin: 2rem 0;
}

#postMainText {
    padding-bottom: 3rem;
    display: block;
}



/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 1000px) {

    body {
        font-size: 1rem;
    }

    img {    
        width: 75%;
        height: auto;
    }

    .squareImg {
        width: 60%;
    }

    .alignRightWhenBig {
        text-align: left;
    }

    .sideCategoryLinks {
        left: 8px
    }

    .sideContactLinks {
        right: 8px;
    }

    .categoryMargin {
        margin: 0 20px;
    }

    .categoryText {
        margin-left: 1rem;
        display: block;
    }

    .cookie {
        width: 30px;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {

    main {
        width: 100%;
        border: none;
        margin: none !important;
        height: 60vh;
    }

    body {
        font-size: 0.8rem;
    }

    img {
        width: 90%;
        margin-left: auto;
    }

    .squareImg {
        width: 90%;
    }

    .sideLink {
        font-size: 0.8rem;
    }

    .sideCategoryLinks {
        left: 10px
    }

    .sideContactLinks {
        right: 10px;
    }

    .categoryMargin {
        margin: 0 15px;
    }

    .categoryText {
        margin-left: 0.6rem;
    }

    .cookie {
        width: 25px;
    }
}

@media screen and (max-width: 450px) {
    
    .titleElement:first-child span {
        display: none;
    }

    .titleElement:first-child::after {
        content: "JUSTIN'S FOLIO";
    }

    .titleElement:last-child {
        display: none;
    }
}