/*************/
/* setup var */
/*************/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/********/
/* TAGS */
/********/

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2rem;

    --main-color-1: rgb(255, 255, 215);
    --main-color-1-var: rgb(193, 193, 163);
    --main-color-2: rgb(5, 35, 35);
    --main-color-2-var: rgb(255, 255, 255);

    background-color: var(--main-color-2);
    color: var(--main-color-1);

    margin: 0;
}

header {
    position: fixed;
    top: 0;

    width: 100%;
    padding: 10px;

    border-bottom: 1px solid var(--main-color-1);
    background-color: var(--main-color-2);
}

/***********/
/* CLASSES */
/***********/

.headerLine {
    display: flex;

    margin: auto;
    width: 95%;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.headerLink {
    margin-left: 3rem;
}

.textLink {
    color: var(--main-color-1);
    transition: color 0.2s ease-in-out;
}

.textLink:hover {
    color: var(--main-color-1-var);
}

.bodyInBody {
    margin: auto;
    width: 95%;
    border-left: 1px solid var(--main-color-1);
    border-right: 1px solid var(--main-color-1);
}

.bodyInBody .bodyInBody {
    width: 97%;
}



/* actual content */

.category {
    margin: 4rem 2rem;
}

.categoryTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}



/* remove scrollbar */

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.example::-webkit-scrollbar {
    display: none;
}