/*************/
/* setup var */
/*************/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/********/
/* TAGS */
/********/

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2rem;

    --main-color-1: rgb(255, 255, 215);
    --main-color-1-var: rgb(255, 255, 170);
    --main-color-2: rgb(5, 35, 35);
    --main-color-2-var: rgb(10, 48, 48);

    background-color: var(--main-color-2);
    color: var(--main-color-1);

    margin: 0;
}

header {
    position: fixed;
    top: 0;

    width: 100%;

    border-bottom: 1px solid var(--main-color-1);
}

/***********/
/* CLASSES */
/***********/

/* line decoration */

.headerTitle {
    margin: auto;
    width: -webkit-calc(100% - 30px);
    width:    -moz-calc(100% - 30px);
    width:         calc(100% - 30px);
    font-size: 1.5rem;
}

.headerInHeader {
    padding-bottom: 15px;
    width: -webkit-calc(100% - 120px);
    width:    -moz-calc(100% - 120px);
    width:         calc(100% - 120px);
    margin: auto;

    background-color: var(--main-color-2);
}

.headerInHeader .headerInHeader {
    width: 100%;
    padding-top: 10px;

    border-bottom: 1px solid var(--main-color-1);
}

.bodyInBody {
    width: -webkit-calc(100% - 80px);
    width:    -moz-calc(100% - 80px);
    width:         calc(100% - 80px);

    margin: auto;

    border-left: 1px solid var(--main-color-1);
    border-right: 1px solid var(--main-color-1);
}

.bodyInBody .bodyInBody {
    width: -webkit-calc(100% - 40px);
    width:    -moz-calc(100% - 40px);
    width:         calc(100% - 40px);
}

/* links */

.sideCategoryLinks {
    position: fixed;
    top: 70px;
    left: 6px;

    writing-mode: vertical-lr;
    rotate: 180deg;
}

.sideContactLinks {
    position: fixed;
    bottom: 0;
    right: 6px;

    writing-mode: vertical-lr;
}

.sideLink {
    padding-bottom: 20px;
}

.textLink {
    color: var(--main-color-1);
    transition: color 0.2s ease-in-out;
}

.textLink:hover {
    color: var(--main-color-1-var);
}

/* actual content */

.category {
    margin: auto;
    padding-top: 120px;
    padding-bottom: 30px;

    border-bottom: 1px solid var(--main-color-1);
    background-color: var(--main-color-2);
}

.categoryMargin {
    margin: 0 30px;
}

.categoryTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.categoryText {
    margin-left: 2rem;
}



/* removing scrollbar */

.noScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noScrollbar::-webkit-scrollbar {
    display: none;
}